html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    color:  black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.body--grey {
    background-color: rgb(182, 172, 172);
}
